.button {
    background: var(--button-color);
    border: none;
    height: 56px;
    width: 300px;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    user-select: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
}

.button:hover {
    animation: fire-pulse 0.5s infinite alternate;
    box-shadow: var(--button-shadow)
}

.button::before {
    user-select: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--button-before-gradient);
    z-index: -1;
    opacity: 0;
}

.button:hover::before {
    opacity: 1;
    animation: fire-flow 1.5s linear infinite;
}

.button:disabled {
    background: gray;
}

.button:disabled:hover,
.button:disabled:hover:before {
    cursor: auto;
    box-shadow: none;
    background: gray;
    animation: none;
}

@keyframes fire-pulse {
    from {
        transform: scale(1);
        box-shadow: 0 0 10px #ff5722,
        0 0 20px #ff5722,
        0 0 30px #ff9800,
        0 0 40px #ff5722;
    }
    to {
        transform: scale(1.02);
        box-shadow: 0 0 15px #ff5722,
        0 0 30px #ff9800,
        0 0 45px #ffc107,
        0 0 60px #ff5722;
    }
}

@keyframes fire-flow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}